#TopView {
    height: 150px;
}

#MiddleView {
    flex-grow: 1;
    flex-direction: row;
}

#BottomView {
    height: 150px;
    flex-direction: row;
}

.StateData {
    font-size: 40px;
    margin-left: 25px;
    flex-direction: row;
    width: 300px;
    align-items: center;
}

.StateData .Bar {
    width: 300px;
    flex-grow: 1;
    height: 75px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.StateData .Label {
    width: 100px;
}
